body{
  background-color:rosybrown;
  width: 100%;
  height: 100%;
}

/*PARA MODAL*/

.modal{
  position: fixed;
  padding-top: 200px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
}

.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  animation: zoom  .5s;
}

.cerrar{

  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  color: aliceblue;
  cursor: pointer;

}
/*------------PARA MODAL*/


/*PARA H1*/
.titulo1{
  color: aliceblue;
  font-size: 35px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 8%;
}

/*------------PARA H1*/

/*PARA PALORID*/
div.polaroid{
  position: relative;
  background-color: white;
  padding: 10px;
  margin: 5px 0 25px 0;
  display: block;
  margin-bottom: 25px;
  box-shadow: 15px 15px 15px rgba(0,0,0,.2);
  

}

.imgText{
  position: absolute;
  font-size: 18px;
  color: red;
  top: 8%;
  left: 30px;
}
.tex{
  
  text-align: center;
  color: red;
}
.ejercicios {
  position: relative;
  background: url("../img/bella.jpg") 0/cover fixed;
  width:100%;
  height: 500px;
}
.content{
  position: absolute;
  border-radius: 10px;
  background-color: hsla(12, 10%, 100%, .6);
  box-shadow: 10px 10px 10px rgb(0, 0,0, .8);
  top: 10%;
  bottom: 15%;
  right: 10%;
  left: 10%;
  filter: blur(2px);
}

.text{
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
}
img{
  width: 100%;
}

/*======== @KEYFRAMES ===========*/

@keyframes zoom{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

/*========MEDIAS ===========*/

@media screen and (max-width: 480px){
 

  img{
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 760px){
} 

@media screen and (min-width: 761px){
  div.polaroid{
    display: inline-block;
    margin-left: 6%;
  }
  img{
    width: 180px;
  }
}